.file-active {
	background-color: rgba(23, 143, 223, 0.466);
}

.file-container {
	display: flex;
	justify-content: space-between;
}

.file-ext {
	color: rgb(75, 75, 75);
}

.context-menu {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: rgb(75, 75, 75);
	flex-direction: column;
}

.cxt-menu-item {
	width: 100px;
	height: 25px;
}

.cxt-open,
.cxt-delete {
	display: none;
}
